<h1> <%= animal.name %> </h1>

<h4>Species: <%= animal.species %></h4>
<h4>Extinct: <%= animal.extinct ? "Yes" : "No" %></h4>
<h4>Location: <%= animal.location %></h4>
<h4>Life Expectancy: <%= animal.lifeExpectancy %></h4>