<h1> <%= animal.name %> </h1>

<h4>Species: <%= animal.species %></h4>
<h4>Extinct: <%= animal.extinct ? "Yes" : "No" %></h4>
<h4>Location: <%= animal.location %></h4>
<h4>Life Expectancy: <%= animal.lifeExpectancy %></h4>

<form action="/animal/<%= animal._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete This Animal">
</form>
<a href="/"><button>Home</button></a>